*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: sans-serif;
}
.poster{
    position: relative;
    width: 52%;
    height: 72%;
    background-color:white;
    box-shadow: 0 0 20px rgb(32, 30, 30);
}
.poster .sub-container{
    width: 100%;
    height: 76%;
    background-color: rgba(255, 204, 0, 0.966);
    position: absolute;
    bottom: 0;
    z-index: 1;
}
main{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    position: absolute;
    z-index: 5;
    padding:8% 6%;
}
main .image{
    width: 100%;
    height: 100%;
}
main .image img{
    width: 100%;
    height: 100%;
}
main .content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .content h2{
    font-size: 2rem;
    text-align: center;
    margin-top: 18%;
    padding: 1rem 0;
}
main .content p{
    font-size: 0.88rem;
    width: 90%;
    text-align: center;
    line-height: 1rem;

}
main .content button{
    font-size: 0.65rem;
    margin-top: 6%;
    width: 45%;
    height: 8%;
    color: rgba(255,255, 255, 0.9);
    background-color: black;
    border: none;
    transition: all 0.5s linear;
}
main .content button:hover{
    /* transform: scale(1.1,1.1); */
    background-color: rgb(24, 23, 23);
}
@media (max-width: 1061px)  {
   
    .poster{
        width: 90%;
        height: 90%;
    }
    main{
        flex-direction: column;
        justify-content:space-evenly;
    }
    main .image{
        width: 50%;
        height: 48%;
    }
    main .content{
       width: 60%;
       height: 48%;
    } 
    main .content h2{
        font-size: 1.5rem;
        margin-top: 6%;
        padding: 0.5rem 0;
    }
    main .content p{
        font-size: 1rem;
    }
    main .content button{
        font-size: 0.5rem;
        margin-top: 3%;
        padding: 3px;
    }
   
}
